Source: ros-jazzy-warehouse-ros
Section: misc
Priority: optional
Maintainer: MoveIt Release Team <moveit_releasers@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-lint <!nocheck>, libboost-all-dev, libgeometry-msgs-dev, libssl-dev, libstd-msgs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, pluginlib-dev (>= 1.11.2), python3-geometry-msgs, python3-std-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-geometry-msgs, ros-jazzy-rclcpp, ros-std-msgs, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/warehouse_ros
Standards-Version: 3.9.2

Package: ros-jazzy-warehouse-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgeometry-msgs-dev, libssl-dev, libstd-msgs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, pluginlib-dev (>= 1.11.2), python3-geometry-msgs, python3-std-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, ros-geometry-msgs, ros-jazzy-rclcpp, ros-std-msgs, ros-jazzy-ros-workspace
Description: Persistent storage of ROS messages
